.card {
  display: flex;
  flex-direction: column;
}
.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  max-width: 220px;
  margin: 0;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.card__like-button {
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active{
background: url(../images/Union.svg);
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}


.card__delete-button {
  background: url(../images/Trash.svg);
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  margin-bottom: 590px;
  margin-left: 230px;
  height: 19px;
  width: 18px;
}

.card__delete-button:hover {
  opacity: 0.8;
}
