.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 0px;
    margin-left: 0px;
    width: 320px;
    padding: 28px 20px 32px;
  }
  .header__logo {
    height: 24px;
    width: 126px;
  }
}